* {
  xbackground-color: rgba(0,0,0,0.08);
  xbox-shadow: inset 0 0 1px red;
}
html {
  xbackground-color: white;
  zoom: 2;
}




.table {
  width: 100%;
  border-collapse: collapse;
  thead {
    border-bottom: 2px solid #212529;
  }
  tr {
    border-bottom: #DEE2E6 1px solid;
  }
  td, th {
    padding: .5em;
    text-align: left;
  }
  &.table-striped {
    tbody tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
  &.table-hover {
    tbody tr:hover {
      background-color: #ECECEC;
    }
  }
  &.table-bordered {
    td, th {
      border: 1px solid #DEE2E6;
    }
  }
  &.table-borderless {
    thead, tr {
      border: none;
    }
  }
  &.table-sm {
    th, td {
      padding: .25em;
    }
  }
  &.table-dark {
    background-color: #212529;
    color: white;
    thead {
      border-bottom-color: white;
    }
    tr {
      border-bottom-color: #373B3E;
    }
    &.table-striped {
      tbody tr:nth-child(odd) {
        background-color: #2C3034;
      }
    }
    &.table-hover {
      tbody tr:hover {
        background-color: #323539;
      }
    }
    &.table-bordered {
      td, th {
        border-color: #373B3E;
      }
    }
  }
}

.table-responsive {
  display: block;
  overflow-x: auto;
  tbody,thead,tfoot {
    width: 100%;
  }
}













